<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ToDo</th>
                    <th scope="col">Completed</th>
                    <th scope="col">User Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of todoData.todos">
                    
                    <td>{{i.id}}</td>
                    <td>{{i.todo}}</td>
                    <td *ngIf="i.completed"><div class="alert alert-success" role="alert">True</div></td>
                    <td *ngIf="! i.completed"><div class="alert alert-danger" role="alert">False</div></td>
                    
                    <td>{{i.userId}}</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
